body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 5px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #c0c0c0;
}

h4 {
  margin-left: 10px;
}

h5 {
  margin-left: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  border-bottom: 2px solid #c0c0c0;
}

.formControl {
  border-radius: 10px;
  background-color: #f8f9fa;
}

label {
  display: inline-block;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 100px;
}

.ticket {
  font-weight: 400;
  color: #3366cc;
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.ticketUnderline {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

.ticketText {
  font-size: 1.25em;
  font-weight: 500;
}

.descText {
  margin: 10px;
  padding: 10px;
  width: 95%;
  height: 150px;
  border: 1px solid #ccc;
  resize: none;
}

.comment {
  background-color: #ebebeb;
  padding: 12.5px 0 12.5px 10px;
  margin: 15px;
  border-radius: 7px;
}

.ticketUnderline {
  border-bottom: 1px solid #ccc;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media (max-width: 767px) {
  .textBreak {
    padding-left: 22.5px;
    display: block;
  }
}

.markCompletedBtn {
  background-color: #4caf50;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
  padding: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.send-button {
  width: 150px;
  height: 50px;
  margin-left: 10px;
}
